<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss,SSS} %m%n"/>
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="2"/>
        <param name="File" value="gta.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss,SSS} %m%n"/>
        </layout>
    </appender>

    <logger name="org.google.translate.api.v2" additivity="false">
        <level value="trace"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="stdout"/>
    </logger>
    
    <root>
        <level value="warn"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>